In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Dataset of Diabetes .csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [4]:
df.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [5]:
df.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [6]:
import numpy as np
from sklearn.impute import SimpleImputer

In [7]:
imputer = SimpleImputer(missing_values = np.nan,strategy = 'most_frequent')

In [8]:
imputed_data = imputer.fit_transform(df)

In [9]:
print("Original data")
df

Original data

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [10]:
print("Imputed data")
imputed_data

Imputed data

array([[502, 17975, 'F', ..., 0.5, 24.0, 'N'],
       [735, 34221, 'M', ..., 0.6, 23.0, 'N'],
       [420, 47975, 'F', ..., 0.5, 24.0, 'N'],
       ...,
       [669, 87654, 'M', ..., 8.1, 27.4, 'Y '],
       [99, 24004, 'M', ..., 14.0, 40.5, 'Y '],
       [248, 24054, 'M', ..., 0.7, 33.0, 'Y ']], dtype=object)

In [11]:
num_cols = df.select_dtypes(include = np.number).columns.tolist()
cat_cols = df.select_dtypes(include=['object','category']).columns.tolist()

In [12]:
print("Numerical columns:",num_cols)
print("Categorical columns:",cat_cols)

Numerical columns: ['ID', 'No_Pation', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']
Categorical columns: ['Gender', 'CLASS']

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

for col in cat_cols:
  df[col] = label_encoder.fit_transform(df[col])
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,1,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,3
996,671,876534,1,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,4
997,669,87654,1,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,4
998,99,24004,1,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,4
999,248,24054,1,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,4

In [14]:
df_cleaned=df.copy()
for col in num_cols:
  Q1=df[col].quantile(0.25)
  Q3=df[col].quantile(0.75)
  IQR=Q3-Q1
  lower_bound=Q1-1.5*IQR
  upper_bound=Q3+1.5*IQR
  df_cleaned[col]=np.where(df_cleaned[col]<lower_bound,lower_bound,df_cleaned[col])
  df_cleaned[col]=np.where(df_cleaned[col]>upper_bound,upper_bound,df_cleaned[col])


print("Outliers handled\n")
df_cleaned

Outliers handled

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502.0,17975.0,0,50.0,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,0
1,735.0,34221.0,1,39.0,4.5,62.0,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420.0,47975.0,0,50.0,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,0
3,680.0,77365.0,0,50.0,4.7,46.0,4.9,4.2,0.9,1.9,1.4,0.5,24.0,0
4,504.0,34223.0,1,39.0,7.1,46.0,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200.0,77365.0,1,71.0,8.7,97.0,7.0,7.5,1.7,1.2,1.8,0.6,30.0,3
996,671.0,77365.0,1,39.0,3.0,60.0,12.3,4.1,2.2,0.7,2.4,2.7,37.2,4
997,669.0,77365.0,1,39.0,7.1,81.0,6.7,4.1,1.1,1.2,2.4,2.7,27.4,4
998,99.0,24004.0,1,39.0,5.8,59.0,6.7,5.3,2.0,1.6,2.9,2.7,40.5,4
999,248.0,24054.0,1,54.0,5.0,67.0,6.9,3.8,1.7,1.1,3.0,0.7,33.0,4

In [15]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
for col in num_cols:
  df[col]=scaler.fit_transform(df[[col]])
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,0.672140,-0.074747,0,-0.401144,-0.144781,-0.382672,-1.334983,-0.509436,-1.035084,1.810756,-1.085457,-0.369958,-1.124622,0
1,1.641852,-0.069940,1,-3.130017,-0.212954,-0.115804,-1.334983,-0.893730,-0.678063,-0.158692,-0.457398,-0.342649,-1.326239,0
2,0.330868,-0.065869,0,-0.401144,-0.144781,-0.382672,-1.334983,-0.509436,-1.035084,1.810756,-1.085457,-0.369958,-1.124622,0
3,1.412950,-0.054126,0,-0.401144,-0.144781,-0.382672,-1.334983,-0.509436,-1.035084,1.810756,-1.085457,-0.369958,-1.124622,0
4,0.680463,-0.069939,1,-2.334096,0.673299,-0.382672,-1.334983,0.028576,-0.963680,-0.613180,-0.547121,-0.397267,-1.729472,0